:root{
	--color-main: #142F43;
	--color-main-light: #306B9C;
	--color-main-dark: #050B10;
	--color-main-lighter: #1C425E;
	--color-main-darker: #132C3F;

	--color-accent: #FFAB4C;
	--color-accent-light: #FFEBD6;
	--color-accent-dark: #CC6D00;
	--color-accent-lighter: #FFBC70;
	--color-accent-darker: #FFA033;

	--color-secondary: #FF5F7E;
	--color-highlight: #B000B9;
}

html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	background: var(--color-main);
	color: var(--color-dark);
	margin: 0;
	padding: 8px;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

a {
	color: rgb(0,100,200);
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}
