<script lang="ts">
  import type { PostType } from "../types/post.type";
  import {v4 as uuidv4} from 'uuid';
  import { PostStore } from "../stores/post.store";
  import { FileFormat, FileType } from "../types/file.type";

  const handlePost = (event: Event) => {
    const form = <HTMLFormElement>event.target
    const formData: FormData = new FormData(form);

    const data: {content: string, author: string, files: File[]} = {
      content: '',
      author: '',
      files: []
    };

    for (let field of formData) {
      const [key, value] = field;
      data[key] = value;
    }

    data.files = <File[]>[...formData.getAll("files[]")];

    const validateContent = (content: string) => {
      return content.length > 0 &&  content.length < 128
    }

    console.log(data);

    if(validateContent(data.content)){
      const post: PostType = {
        uuid: uuidv4(),
        id: Math.floor(Math.random() * 1000 % 100),
        board: '',
        author: data.author,
        replyPostNumbers: [],
        content: data.content,
        files: [],
        date: new Date()
      };

      data.files.forEach((file) => {
        const uuid = uuidv4()
        const uploadFile: FileType = {
          uuid: uuid,
          postId: post.id,
          path: `images/${uuid}/${file.name}`,
          type: FileFormat.Image,
          originalName: file.name
        }
        post.files.push(uploadFile);
      })

      PostStore.update((currentPosts: any) => {
        return [post, ...currentPosts];
      })
      
      form.reset()
    }
  }
</script>

<form on:submit|preventDefault={handlePost} enctype="multipart/form-data" >
  <div class="form__body">
    <div class="form__input--author">
      <input name="author" type="text">
    </div>
    <div class="form__input--text">
      <textarea name="content"></textarea>
    </div>
    <div class="form__input--file">
      <input type="file" name="files[]" multiple>
    </div>
    <div class="form__input--submit">
      <input type="submit" value="Post!">
    </div>
  </div>
</form>

<style>
    [class*="form__input--"] > * {
      background: var(--color-main-darker);
      color: var(--color-accent-light);
      border-color: var(--color-accent-dark);
    }

    [class*="form__input--"] > *:focus {
      outline: none !important;
      border-color: var(--color-highlight);
    }

    .form__input--submit > *:hover {
      cursor: pointer;
    }
</style>