<script lang="ts">
  import type { PostType } from "../types/post.type";

  export let post: PostType;  
</script>


<div class="post__card" id="post--{post.id}">
  <div class="post__replies">
    {#each post.replyPostNumbers as replyNumber}
      <a class="post__reply" href="#post--{replyNumber}">&gt;&gt;{replyNumber}</a>
    {/each}
  </div>
  <div class="post__meta">
    <span class="post__meta--id">id: {post.id}</span>
    <span class="post__meta--date">on: {post.date.toLocaleString('lt-LT')}</span>
    <span class="post__meta--author">by: {post.author}</span>
  </div>
  <div class="post__content">
    {post.content}
  </div>

</div>

<style>
  .post__card{
    margin: 5px;
    padding: 3px;
    border-radius: 2px;
    background: var(--color-accent); 
    color: var(--color-main-dark);
  }
  .post__reply{
    color: var(--color-highlight)
  }

  .post__content{
    margin: 8px;
  }

  .post__meta {
    font-size: 12px;
  }

  [class*="post__meta--"]{
    background: var(--color-main);
    color: var(--color-accent);
    border-radius: 4px;
    padding: 2px;
  }
</style>