<script lang="ts">
	import {PostStore} from './stores/post.store'
	import Post from './components/Post.svelte'
	import Form from './components/Form.svelte'
</script>

<main>
	<Form></Form>
	{#each $PostStore as post }
		<div >
			<Post {post} ></Post>		
		</div>
	{/each}
</main>